<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="text/javascript" src="//gdc.indeed.com/ads/apiresults.js"></script>
  </head>
  <body class="bg-secondary-200 font-body min-h-screen">
    <div id="app"></div>
  </body>
</html>
