<template>
  <div class="home -my-28">
    <div v-if="tags.length">
      <SearchBar :tags="tags" @tag-clicked="handleTagClick" @clear-filter="clearFilter"></SearchBar>
    </div>
    <div v-else class="h-20"></div>
    <div v-if="jobs.length">
      <div v-for="job in filteredJobs" :key="job.id">
        <JobCart :id="job.id" @tag-clicked="filterJobByTag"></JobCart>
      </div>
    </div>
    <div v-else>
      <p>Waiting to load data...</p>
    </div>
    <div class="font-xs text-center bottom-0">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" class="text-primary">Frontend
      Mentor</a>. Coded by <a href="#">Sabina Slováková</a>.
    </div>

  </div>
</template>

<script>
import SearchBar from "../components/SearchBar";
import JobCart from "../components/JobCard";
import getData from "../composables/getData";
import { computed, ref } from "vue";

export default {
  name: "Home",
  components: { JobCart, SearchBar },
  setup() {
    const tags = ref([]);
    const tagSet = new Set();
    const { getAllJobs, jobs } = getData();

    getAllJobs();

    const filteredJobs = computed(() => {
      console.log("filteredJobs run");
      if (tags.value.length === 0) {
        return jobs.value;
      }
      let keys = [];

      return jobs.value.filter(job => {
        keys = [job.role, job.level];
        if (job.languages) {
          keys.push(...job.languages);
        }
        if (job.tools) {
          keys.push(...job.tools);
        }

        return tags.value.every(tag => keys.includes(tag));
      });

    });

    const filterJobByTag = (tag) => {
      tagSet.add(tag);
      tags.value = [...tagSet];
    };

    const handleTagClick = (clickedTag) => {
      tags.value = tags.value.filter(tag => tag !== clickedTag);
      tagSet.delete(clickedTag)
    };

    const clearFilter = () => {
      tags.value = []
      tagSet.clear()
    }


    return { jobs, filterJobByTag, filteredJobs, tags, handleTagClick, clearFilter };
  }
};
</script>

<style>
.home {
  max-width: 70rem;
  margin: 0 auto;
  padding: 5rem 0;
}
</style>
