<template>
  <div v-if="job" class="card flex flex-col md:flex-row mb-10" :class="{ active: job.featured }">
    <div class="flex flex-col md:flex-row md:items-center mb-4 md:mb-0">
      <div class="md:mr-4 mb-2 md:mb-0">
        <img :src="job.logo" class="w-14 md:w-20 -mt-14 md:mt-0" />
      </div>
      <div class="space-y-3 text-xs">
        <h3 class="font-bold text-primary mr-3 inline-block">{{ job.company }}
          <span v-if="job.new" class="mr-2 p-1 pt-2 bg-primary text-secondary-100 rounded-xl">NEW!</span>
          <span v-if="job.featured"
                class="mr-2 p-1 pt-2 bg-secondary-400 text-secondary-100 rounded-xl">Featured</span>
        </h3>
        <h2 class="font-bold text-base">{{ job.position }}</h2>
        <p class="text-secondary-300">{{ job.postedAt }} <span class="font-bolt">&middot;</span> {{ job.contract }}
          <span>&middot;</span> {{ job.location }}</p>
      </div>
    </div>
    <div v-if="tags.length"
         class="flex flex-wrap items-center content-between md:ml-auto pt-5 text-primary text-sm font-bold border-t-2 border-gray-300 md:border-none">
      <span @click="handleClick(tag)" v-for="(tag, index) in tags" :key="index"
            class="p-2 mr-3 mb-3 bg-secondary-200 rounded-md hover:bg-primary hover:text-secondary-100 cursor-pointer">{{ tag
        }}</span>
    </div>
  </div>

</template>

<script>
import getData from "../composables/getData";
import { computed } from "vue";


export default {
  name: "JobCart",
  props: ["id"],
  setup(props, { emit }) {
    const { getJob, job } = getData();
    getJob(props.id);

    const tags = computed(() => {
      let keys = [job.value.role, job.value.level];
      if (job.value.languages) {
        keys.push(...job.value.languages);
      }
      if (job.value.tools) {
        keys.push(...job.value.tools);
      }
      return keys;
    });

    const handleClick = (tag) => {
      emit("tagClicked", tag);
    };


    return { job, tags, handleClick };
  }
};
</script>

<style>
.card {
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 10px 20px -7px rgba(93, 164, 164, 0.4);
}

.active {
  border-left-width: 6px;
  border-color: #5BA4A4FF;
  padding-left: 1.5rem;
}

</style>
