<template>
  <div class="card p-3 md:p-4 flex items-center justify-between content-between text-primary font-bold mb-8 ">
    <div class="flex flex-wrap relative">
      <button v-for="(tag, index) in tags" :key="index" @click="$emit('tagClicked', tag)"
              class="text-sm p-2 m-1 md:mr-2 bg-secondary-200 rounded-md font-bold hover:bg-primary hover:text-secondary-100">
        {{ tag }}<span class="pl-1 text-secondary-400 hover:text-secondary-100">&#10005;</span>
      </button>
    </div>
    <button @click="$emit('clearFilter')" class="p-2 text-sm text-secondary-400 rounded-md hover:bg-secondary-400 hover:text-secondary-100">Clear</button>

  </div>
</template>

<script>
export default {
  name: "Navbar",
  props: ['tags']
};
</script>

<style scoped>
</style>