<template>
  <header class="header bg-secondary-300 p-16"></header>
  <div class="content">
    <router-view />
  </div>
</template>
<script>
// import SearchBar from "./components/SearchBar";

export default {
  components: {}
}
</script>

<style>
#app{
  height: 100%;
}

.header {
  background-image: url("../public/images/bg-header-mobile.svg");
}

@media (min-width: 23.5rem) {
  .header {
    background-image: url("../public/images/bg-header-desktop.svg");
  }
}
.content {
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 1rem;
}
</style>
